blue-pickled-bluewood = #283E50
red-milano = #BB070C
red-tamarillo = #861014
red-temptress = #440004
red-orange = #FD3722
red-champagne = #FBE2D8
orange-old-lace = #F28083
orange-double-pearl-lusta = #FCE9D3
green-jungle = #27AE60
green-peppermint = #E0F6E0

grey-wildsand = #F6F6F6
grey-mercury = #E5E5E5
grey-nepal = #93AABD
grey-link-water = #D4E1F4
grey-silver = #C4C4C4
grey-silver-second = #BCBCBC
grey-porcelain = #F4F6F7
grey-gallery = #EFEFEF
grey-gray = #8F8F8F
grey-gray-second = #919191
blue-ribbon = #143FF2
color-primary = #2075B9
blue-nile = #17394C
blue-dodger = #2A8BFF
blue-kashmir = #4F718C
blue-tropical = #C9E0FA
blue-royal = #335FE2
blue-alice = #F5FAFF
blue-cerulean = #2F54C3
blue-dodger = #428DFF
blue-bayoux = #556481
blue-astronaut = #27426E
blue-downy = #71C6D1
nile-blue = #17394C
purple-cornflower = #A3BCEB
pickled-bluewood = #273249
green-jungle = #27AE60
green-malachite = #1AE23A
red-amaranth = #E83F53
red-pomegranate = #F44336
gray-athens = #E6E7ED
gray-santas = #9E9EA1
cream-can = #F0D65B
black-light = #ebf2f7
black-tundora = #4C4C4C
pink-fair = #FFEEEC
pig-pink = #FDD9DF
fair-pink = #FFEBED

color-tamarillo = #861014
color-danger = red-amaranth
color-success = green-jungle
milano-red = red-milano